*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;

}

body{

background:#0f172a;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login-container{

width:420px;

background:#1e293b;

padding:40px;

border-radius:18px;

border:1px solid #334155;

box-shadow:0 0 30px rgba(0,0,0,.4);

}

.logo{

font-size:55px;

text-align:center;

margin-bottom:10px;

}

h1{

text-align:center;

color:white;

margin-bottom:8px;

letter-spacing:2px;

}

.subtitle{

text-align:center;

color:#94a3b8;

margin-bottom:30px;

line-height:25px;

}

label{

display:block;

margin-bottom:8px;

color:#cbd5e1;

font-size:14px;

}

input{

width:100%;

padding:14px;

margin-bottom:20px;

border:none;

border-radius:10px;

background:#334155;

color:white;

font-size:15px;

outline:none;

}

input:focus{

border:2px solid #22d3ee;

}

button{

width:100%;

padding:14px;

background:#06b6d4;

border:none;

border-radius:10px;

font-size:16px;

font-weight:bold;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#0891b2;

}

.error{

display:none;

margin-bottom:15px;

text-align:center;

color:#ef4444;

font-size:14px;

}

.footer{

margin-top:30px;

text-align:center;

font-size:13px;

color:#94a3b8;

}